$bgWhite: #FFFFFF;
$bgGray: #FAFAFA;
$bgDarkGray: #999999;
$bgBlack: #000000;

$shadowBlack: #000000;

$lineGray: #CCCCCC;

$textWhite: #FFFFFF;
$textLightGray: #999999;
$textMiddleGray: #777777;
$textDarkGray: #333333;

$themeColor: #3498DB;
$themeColorDark: #2980B9;

$tintRed: #E74C3C;
$tintRedDark: #C0392B;
$tintOrange: #F39C12;
$tintOrangeDark: #E67E22;
$tintGreen: #2ECC71;
$tintGreenDark: #1ABC9C;
$tintPurple: #9B59B6;
$tintPurpleDark: #8E44AD;