@mixin transition-hover-intent(){
  -webkit-transition: .2s linear .1s;
  -moz-transition: .2s linear .1s;
  -o-transition: .2s linear .1s;
  transition: .2s linear .1s;
}

@mixin transition-fast(){
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@mixin transition-normal(){
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}